
		<div class="container">
			<footer id="fh5co-footer" role="contentinfo">
				<div class="row">
					<div class="col-md-3 fh5co-widget">
						<h4>Hamish McDougall<span class="dot">.</span></h4>
						<p>Experience design leader, product design specialist & product owner with a proven ability to present clear strategic direction, combining the needs and requirements of both internal and external customers, as well as the hands-on experience to execute large scale projects.
							</p>
					</div>
					<div class="col-md-3 col-md-push-1">
						<h4>Projects<span class="dot">.</span></h4>
						<ul class="fh5co-footer-links">
							<li><a href="CoverBuilder.html">Mid-market - Cover Builder</a></li>
							<li><a href="SalesPortal.html">Mid-market - Sales Portal</a></li>
							<li><a href="TAC.html">TAL Adviser Centre - TAC</a></li>
							<li><a href="RetailMap.html">Retail Customer Journey Map</a></li>
							<li><a href="DigitalAdviser.html">Digital Adviser</a></li>
							<li><a href="FactFind.html">Fact Find / Client Discovery Online</a></li>
							<li><a href="Virtual-C-Room.html">Virtual Customer Room</a></li>
						</ul>
					</div>

					<div class="col-md-3 col-md-push-1">
						<h4>Links<span class="dot">.</span></h4>
						<ul class="fh5co-footer-links">
							<li><a href="../about.html">About</a></li>
							<li><a href="../index.html">Projects</a></li>
						</ul>
					</div>

					<div class="col-md-3">
						<h4>Contact Information<span class="dot">.</span></h4>
						<ul class="fh5co-footer-links">
							<li><a href="tel://0434796028">0434 796 028</a></li>
							<li><a href="mailto:hamishmcdougall@gmail.com">Hamishmcdougall@gmail.com</a></li>
						</ul>
					</div>

				</div>

				<div class="row copyright">
					<div class="col-md-12 text-center">
						<p>
							<small class="block">&copy; 2021. All Rights Reserved.</small>
							<small class="block">Designed and Built by <a href="www.hamishmcdougall.com" target="_self">Hamish
									McDougall</a>
						</p>
					</div>
				</div>
			</footer>
		</div><!-- END container -->